<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bg-dark  footer p-4 text-white mt-5  ">
        <div class="d-flex justify-content-between  w-75 m-auto  ">
<div class="d-flex flex-column  align-content-center gap-1  ">
<div class="heading fs-4 fw-medium mb-4 ">Top Brand</div>
<a href="#" class="link fs-5 ">Kenneth Cole</a>
<a href="#" class="link fs-5 ">Tommy Hilfiger</a>
<a href="#" class="link fs-5 ">Emporio Armani</a>
<a href="#" class="link fs-5 ">Fossil</a>
<a href="#" class="link fs-5 ">Michael Kors</a>
<a href="#" class="link fs-5 ">Coach New York</a>
<a href="#" class="link fs-5 ">Ferrari</a>
<a href="#" class="link fs-5 ">Ted Baker</a>
<a href="#" class="link fs-5 ">See All Brands</a>

</div>
<div class="d-flex flex-column  align-content-center gap-1  ">
    <div class="heading fs-4 fw-medium mb-4 ">Quick Links</div>
    <a href="#" class="link fs-5">FAQ’s</a>
    <a href="#" class="link fs-5">Shop</a>
    <a href="#" class="link fs-5">About</a>
    <a href="#" class="link fs-5">Contact</a>
    <a href="#" class="link fs-5">Privacy Policy</a>
    <a href="#" class="link fs-5">Warranty Policy</a>
    <a href="#" class="link fs-5">Track your order</a>
    <a href="#" class="link fs-5">Terms & Conditions</a>
    <a href="#" class="link fs-5">Returns & Exchanges Policy</a>
    
    
    </div>
    <div class="d-flex flex-column  align-content-center gap-1  ">
        <div class="heading fs-4 fw-medium mb-4 ">Top Brand</div>
        <a href="#" class="link fs-5 ">Kenneth Cole</a>
        <a href="#" class="link fs-5 ">Tommy Hilfiger</a>
        <a href="#" class="link fs-5 ">Emporio Armani</a>
        <a href="#" class="link fs-5 ">Fossil</a>
        <a href="#" class="link fs-5 ">Michael Kors</a>
        <a href="#" class="link fs-5 ">Coach New York</a>
        <a href="#" class="link fs-5 ">Ferrari</a>
        <a href="#" class="link fs-5 ">Ted Baker</a>
        <a href="#" class="link fs-5 ">See All Brands</a>
        
        </div>
        <div class="d-flex flex-column  align-content-center gap-1  ">
            <div class="heading fs-4 fw-medium mb-4 ">Top Brand</div>
            <a href="#" class="link fs-5 ">Kenneth Cole</a>
            <a href="#" class="link fs-5 ">Tommy Hilfiger</a>
            <a href="#" class="link fs-5 ">Emporio Armani</a>
            <a href="#" class="link fs-5 ">Fossil</a>
            <a href="#" class="link fs-5 ">Michael Kors</a>
            <a href="#" class="link fs-5 ">Coach New York</a>
            <a href="#" class="link fs-5 ">Ferrari</a>
            <a href="#" class="link fs-5 ">Ted Baker</a>
            <a href="#" class="link fs-5 ">See All Brands</a>
            
            </div>
        </div>
  <h5 class="text-center mt-5 ">© Copyright <span class="text-warning ">Fossil </span> 2024 All Rights Reserved.</h5>
    </div>

</body>
</html>