<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="cont position-relative h-100 ">

 
    <div class="d-flex flex-column p-4 align-items-center h-100">
      <button id="close-sidebox" class="btn border-0 align-self-end ">  <i class="fa-solid fa-xmark fs-2 text-warning   "></i></button>
     
      <div class="fs-3 fw-semibold   ">CART</div>
     <div class="w-50 border-0 border-bottom mb-4 mt-3 "></div>
     <div class="cart-card-list   overflow-auto d-flex flex-column gap-4 ">
       
         
      
        
     </div>
    
      
    </div>
    <div class="total position-absolute bottom-0 w-100 p-4 d-flex flex-column ">
<div class="d-flex w-100 justify-content-between  gap-2 ">
    <div class="fs-4 fw-semibold ">
        Subtotal:
    </div>
    <div class="fs-4 fw-semibold ">
        Rs <span>353535</span>
    </div>
  
  
</div>
<hr>
<button class="btn btn-warning border-0 ">CheckOut</button>
    </div>
</div>
</body>
</html>